{% extends 'base.html' %}
{% block title %} Create Product {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header"><h3>Create new product</h3></div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Salveaza</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}